table,tr,th,td{
    border: 2px solid black;
    border-collapse:collapse;
    padding: 10px;
    border-spacing: 5px;
    width: 100%;
    resize: both;
    font-family: cursive;
}
th{
    background-color: coral;
    backface-visibility: hidden;
}
td{
    background-color: cornflowerblue;
}
table{
    border-radius: 40px;
}